# Site settings
title: "Aarcha's Blog"
email: aarchapaul194@gmail.com
description: "A dark blog theme for Jekyll."
baseurl: ""
url: "aarchapaul.github.io/"
title_description: "Hi, I am Aarcha. This blog is an amalgamation of my two passions - writing and cybersecurity.I share my cheatsheets, learnings and experiments here."
title_image: "https://avatars.githubusercontent.com/u/40428184?v=4"
google_analytics: "UA-20365477-4"
disqus_account: cartenoire
github_repository: https://github.com/aarchapaul
addthis_id: ra-513c6fa83da6ec67
post_limit: 5

# Social usernames/URLs
twitter_username: 
github_username:  aarchapaul
instagram_username: 
reddit_username: 
linkedin_link: https://www.linkedin.com/in/aarcha-paul-3514a5145/

# Footer
footer_left: "Made with <a href=\"https://github.com/jacobtomlinson/carte-noire\">Carte Noire</a>"
# footer_right: "&lt;/&gt; on <a href=\"https://github.com/jacobtomlinson/carte-noire\">Github</a> &nbsp;<i class=\"fa fa-github-alt\"></i>"

# Build settings
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge

permalink: pretty
exclude: [vendor]

#plugins:
#  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/